[Desktop Entry]
Version=1.0
Name=qvssr
Type=Application
GenericName=v2ray and shadowsocks(R) Graphical Frontend
GenericName[zh_CN]=V2ray和shadowsocks(R) 图形前端
Comment=A cross-platform V2ray/SS(R) client written in qt 
Comment[zh_CN]=跨平台的 v2ray/SS(R) Qt 客户端
Keywords=Internet;VPN;Proxy;v2ray;Qt;qv;
Keywords[zh_CN]=Internet;VPN;Proxy;v2ray;Qt;qv;代理;翻墙;梯子;
Categories=Network;Qt;
Terminal=false
Icon=qvssr
Exec=qvssr
Actions=noAPI;withToolbarPlugin;

[Desktop Action noAPI]
Name=Start without gRPC API
Name[zh_CN]=不使用 gRPC API 启动
Exec=qvssr --noAPI

[Desktop Action withToolbarPlugin]
Name=Start with Toolbar Plugin
Name[zh_CN]=使用工具栏插件启动
Exec=qvssr --withToolbarPlugin

